---
layout: default
title: Privacy Notice
permalink: /privacy/
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
    <li class="breadcrumb-item active">Privacy Notice</li>
  </ol>
</nav>

<h1>Privacy</h1>

<h2 class="py-3 text-warning">Privacy Notice</h2>

<div>

  We collect the following personal and presence information from you:<br>
  <br>
  <ul>
    <li>IP-address</li>
    <li>UUID</li>
    <li>Chat-logs</li>
  </ul>
  We collect that information in order to:<br>
  <br>
  <ul>
    <li>protect our computer systems and to be properly be able to defend from systematic attacks.</li>
    <li>provide moderators with the neccesary tools to be able to enforce a safe and orderly envrionment for players.
    </li>
  </ul>
  We keep your information safe by doing regular security inspections and only allowing certain staff to access it.<br>
  <!-- TODO - We keep your information for two years at which point we destroy it by securely deleting it.<br>-->
  <br>
  You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected
  if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact
  us at admin@cubekrowd.net.<br>
</div>