<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png?v=A0RXAMGnRM" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png?v=A0RXAMGnRM" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png?v=A0RXAMGnRM" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ "/manifest.json?v=A0RXAMGnRM" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg?v=A0RXAMGnRM" | prepend: site.baseurl }}" color="#03a9f4">
    <link rel="shortcut icon" href="{{ "/favicon.ico?v=A0RXAMGnRM" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#263238">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    
</head>
