---
layout: blog
---
<a href="{{ site.baseurl }}/blog/">
    <h6 class="pt-3 text-success"><i class="fa fa-arrow-left"></i> Back to latest</h6>
</a>
<h1 class="pt-3 pb-3">Posts with {{ page.type }} '{{ page.title }}'</h1>

{% for post in page.posts %}
{{ post.date | date: "%b %-d, %Y" }}<a href="{{ site.baseurl }}{{ post.url }}">
    <h6 class="text-info">{{ post.title }}</h6>
</a>

{% endfor %}
<a href="{{ site.baseurl }}/blog/">
    <h6 class="pt-5 text-success"><i class="fa fa-arrow-left"></i> Back to latest</h6>
</a>