<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="0; url=/bans/{{page.uuid}}" />
</head>

<body>
    Redirecting... Please <a href="/bans/{{page.uuid}}">click here</a> if it doesn't redirect automatically.
</body>

</html>