<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="0; url={{page.link}}" />
</head>

<body>
    Redirecting... Please <a href="{{page.link}}">click here</a> if it doesn't redirect automatically.
</body>

</html>